---
import Layout from "../layouts/Layout.astro";

const { email } = Astro.locals;
---

<Layout title="bambi dashboard">
  <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
    <p
      class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold"
    >
      {email}
    </p>

    <a
      href="/api/auth/signout"
      class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
      >Sign out</a
    >
  </section>
</Layout>

